*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(#25375a, #0C1524);
  background-size: cover;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

.display {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.display__current {
  background-color: white;
}

.display__result {
  background-color: yellow;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

