:root {
  --number-btn-color: #333333;
  --operator-btn-color: #FE9500;
  --alt-btn-color: #A5A5A5;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(#25375a, #0C1524);
  background-size: cover;
  min-height: 100vh;
}

button {
  background-color: var(--number-btn-color);
  color: white;
  font-size: 20px;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
}

.display {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: 80px;
}

.display__current {
  background-color: white;
}

.display__result {
  background-color: yellow;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60px;
}

.operator {
  background-color: var(--operator-btn-color);
}

/* .operator#\^{
  background-color: var(--number-btn-color);
} */

.alt-btn {
  background-color: var(--alt-btn-color);
  color: black;
}